<pre>
Hi {{user.name}},

We received a request to reset your password for {{user.business.name}}. To proceed with the password reset, please click the reset password below.

<button type="button">
	Reset Password	
</button>

if the link above dosen't work, copy and paste the following URL into your browser
<a href="{{http://invoicey-one.vercel.app}}">Link To Invoicey Reset</a>


Please note that this link is valid for the next 24 hours. if you did not initiate this password reset, you can ignore this email. if you have any questions or need further assistancel please reply to this 


Best Regard
Invoicey Team
</pre>