email-validator
Flask
Flask-Cors
Flask-HTTPAuth
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SocketIO
Flask-SQLAlchemy
flask-swagger-ui
Flask-WTF
PyJWT=l
python-engineio
python-socketio
requests
gunicorn
