<pre>
Dear {{client.name}},

We hope this message finds you well. We wanted to inform you that an invoice has been generated for your recent transaction with {{user.business.name}}. Details of the invoice are outlined below:

*Invoice Id:* {{invoice.inv_id}}
*Invoice Date:* {{invoice.created_on.strftime("%d-%m-%Y")}}
*Due Date:* {{invoice.due_date.strftime("%d-%m-%Y")}}
*Amount:* {{invoice.amount}}

To view and process this invoice, please follow the link below:
<a href="https://invoicey-one.vercel.app/payment/paymentGateway/?ref={{transaction.trsc_id}}&payout={{transaction.payout}}&status={{transaction.status}}">
    Link To Pay For Product</a>

Please ensure that payment is made by the specified due date to avoid any disruptions in your service or account.

If you have any questions or concerns regarding this invoice, feel free to reply to this email, and our team will be happy to assist you.

Thank you for choosing {{invoice.business.name}}. We appreciate your business.

Best regards,

Invoicey
invoicey@invoicey.com
</pre>