.input-control.success input,
.input-control.success #password,
.input-control.success #conPassword {
  border-color: #09c372;
}
.input-control.error input,
.input-control.error #password {
  border-color: #ff3860;
}
.input-control .error {
  color: #ff3860;
  font-size: 9px;
  line-height: 13px;
}
